<ion-header>
  <ion-toolbar>
    <ion-title>Items from {{ box.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-round-back" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of box.items">
      <ion-grid>
        <ion-row>
          <ion-col size="10" *ngIf = "item.hasOwnProperty('items')" (click) = "showTheBox(item)"> {{ item.name }} </ion-col>
          <ion-col size="10" *ngIf = "item.hasOwnProperty('description')" (click) = "showTheItem(item)"> {{ item.name }} </ion-col>
          <ion-col> 
            <ion-icon size="2" *ngIf = "item.hasOwnProperty('items')" name="cube"></ion-icon> 
            <ion-icon size="2" *ngIf = "item.hasOwnProperty('description')" name="pricetag"></ion-icon> 
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
