<ion-header>
  <ion-toolbar>
    <ion-title>Boxes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class='list-item' *ngFor="let box of boxes">
      <ion-grid>
        <ion-row>
          <ion-col size="10" (click)="showTheBox(box)"> {{ box.name }}</ion-col>
          <ion-col size="1" (click)="editTheBox(box)"><ion-icon name="create"></ion-icon></ion-col>
          <ion-col size="1" (click)="deleteTheBox(box)"><ion-icon name="trash"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Add Box">
        <ion-icon name="cube" (click)="addBox()"></ion-icon>
      </ion-fab-button>

      <ion-fab-button data-desc="Add Item">
        <ion-icon name="pricetag" (click)="addItem()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>
</ion-content>
